# Carga de datos

Importación de las librerías:.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Carga de la base de datos y creación del data frame:

In [4]:
df = pd.read_csv('datos_tec.csv')
df.head()

              TIME  Dureza  Tasa_Prod   Asp    EC    EE  Calidad
0  01/01/1995 0:00   100.0        368  2.78  15.1  29.7    0.053
1  02/01/1995 0:00   100.0        426  3.00  26.9   0.0    0.108
2  03/01/1995 0:00   101.0        446  3.00  29.5   0.0    0.098
3  04/01/1995 0:00    99.0        395  3.00  18.9  25.4    0.056
4  05/01/1995 0:00   102.0        380  3.00  17.5  26.6    0.051

Conteo de registros por columna:

In [5]:
df.shape

(9392, 7)

Identificación de valores nulos en la base de datos:

In [6]:
df.isnull().values.any()

True

Conteo de valores nulos por columna:

In [21]:
df.isnull().sum()

TIME         0
Dureza       1
Tasa_Prod    0
Asp          1
EC           0
EE           0
Calidad      0
dtype: int64

Se eliminan las filas en las que se encuentra algún valor nulo, en este caso solo existen dos, por lo que es un cambio mínimo y el análisis no se verá afectado con dos registros menos.

In [23]:
df.dropna(axis=0,how='any', thresh=None, subset=None, inplace=True)

Se comprueba que ya no existen valores nulos:

In [24]:
df.isnull().sum()

TIME         0
Dureza       0
Tasa_Prod    0
Asp          0
EC           0
EE           0
Calidad      0
dtype: int64

In [25]:
df.shape

(9390, 7)

Revisamos el tipo de datos que contiene cada columna:

In [26]:
df.dtypes

TIME          object
Dureza       float64
Tasa_Prod      int64
Asp          float64
EC           float64
EE           float64
Calidad      float64
dtype: object

Obtención de las métricas básicas del arreglo inicial:

In [27]:
df.median()

Dureza       104.000
Tasa_Prod    398.000
Asp            3.260
EC            19.200
EE            20.000
Calidad        0.081
dtype: float64

In [13]:
df.max()

TIME         31/12/2019 0:00
Dureza                   112
Tasa_Prod                480
Asp                     3.52
EC                      40.4
EE                      35.3
Calidad                    1
dtype: object

In [14]:
df.min()

TIME         01/01/1995 0:00
Dureza                    80
Tasa_Prod                  0
Asp                     0.09
EC                         0
EE                         0
Calidad                    0
dtype: object

In [15]:
df.std()

Dureza        2.049060
Tasa_Prod    43.352777
Asp           0.375251
EC            6.698657
EE            8.035162
Calidad       0.048819
dtype: float64

In [16]:
df.quantile([0.25,0.5,0.75])

      Dureza  Tasa_Prod   Asp    EC    EE  Calidad
0.25   103.0      383.0  3.04  15.9  14.2    0.061
0.50   104.0      398.0  3.26  19.2  20.0    0.081
0.75   105.0      408.0  3.38  23.5  25.2    0.107

In [17]:
df.describe()

,Dureza,Tasa_Prod,Asp,EC,EE,Calidad
count,9391.000000,9392.000000,9391.000000,9392.000000,9392.000000,9392.000000
mean,104.028644,391.005111,3.152306,19.362425,19.059135,0.089891
std,2.049060,43.352777,0.375251,6.698657,8.035162,0.048819
min,80.000000,0.000000,0.090000,0.000000,0.000000,0.000000
25%,103.000000,383.000000,3.040000,15.900000,14.200000,0.061000
50%,104.000000,398.000000,3.260000,19.200000,20.000000,0.081000
75%,105.000000,408.000000,3.380000,23.500000,25.200000,0.107000
max,112.000000,480.000000,3.520000,40.400000,35.300000,1.000000